/* each section uses a div class with the exception of
   the margin, as specified in the requirements */

.header {
        background-color: #112854; /* blue */
        color: #e3dbb6; /* beige-ish */
        text-align: center;
}

.main {
      background-color: #a8b2b3; /* light grey */
      padding: 1em;
}

.body {
      background-image: url('record.png');
      background-repeat: repeat-x; /*repeat image horizontally*/
}

body {
      margin: 0;
}
